.feedback-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.feedback-form label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;

  color: #2e2f42;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.feedback-form button {
  border: none;
  width: 95px;
  height: 40px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.feedback-form button:hover {
  background: #6c8cff;
}
